<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>Edit Book</h1>
		<form class="form-horizontal" th:object="${book}" th:action="@{../save}" action="#" method="post">
			<div class="form-group">
				<div class="col-sm-10">
					<input class="form-control" type="hidden" th:field="*{id}" />
				</div>
			</div>
			
			<div class="form-group">
		  		<label class="control-label col-sm-2" for="aName">Author</label>
		  		<div class="col-sm-10">
					<input class="form-control" type="text" id="aName" th:field="*{author}" />
				</div>
			</div>
		  	
		  	<div class="form-group">
		  		<label class="control-label col-sm-2" for="tName">Title</label>
		  		<div class="col-sm-10">
					<input class="form-control" type="text" id="tName" th:field="*{title}" />
				</div>
			</div>
						
			<div class="form-group">
				<label class="control-label col-sm-2" for="ISBN">ISBN</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" id="isbn" th:field="*{isbn}" />
				</div>
			</div>
						
			<div class="form-group">
				<label class="control-label col-sm-2" for="year">Year</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" id="year" th:field="*{year}" />
				</div>
			</div>
						
			<div class="form-group">
				<label class="control-label col-sm-2" for="price">Price</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" id="price" th:field="*{price}" />
				</div>
			</div>
					
		  	<div class="form-group">
		  		<label for="catlist">Category</label>
			 	<select class="form-control" id="catlist" th:field="*{category}">
       				<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    			</select>
			</div>
					  				
		  	<div class="form-group">
		  		<div class="col-sm-offset-2 col-sm-10">
		  			<input class="form-control" type="submit" value="Save"></input>
		  		</div>
			</div>
		</form>
	</div>
</body>
</html>