<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
        <div th:if="${param.error} " class="jumbotron text-center">
            <p>Invalid username and password. </p>
        </div>
        <div th:if="${param.logout}" class="jumbotron text-center">
            <p>You have been logged out. </p>
        </div>
        <form th:action="@{/login}" method="post">
        	<div class ="form-group">
            <div><label> User Name : <input type="text" name="username" class="form-control"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
            <div><input type="submit" value="Sign In" class="btn btn-success"/></div>
            </div>
            <div>
            	<a class="btn btn-info" th:href="@{/signup}">Sign-up</a>
            </div>
        </form>
    </body>
</html>